<div class="card">
  <div class="card-body">
    <h4 class="card-title">Liste des fruits</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Provenance</th>
          <th>Prix unitaire</th>
          <th>Quantité en stock</th>
          <th>Dépôt</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fruit of fruits" >
          <td scope="row">{{fruit.id}}</td>
          <td>{{fruit.nom}}</td>
          <td>{{fruit.provenance}}</td>
          <td>{{fruit.prixUnitaire}}</td>
          <td>{{fruit.quantiteStock}}</td>
          <td>{{fruit.depot.nom}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

