<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header"><i class="fa fa-truck fa-3x" aria-hidden="true"></i></div>
        <div class="card-body text-primary">
          <h5 class="card-title"> {{nombreCamion}} Camion(s)</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><i class="fa fa-circle fa-3x" aria-hidden="true"></i></div>
        <div class="card-body text-secondary">
          <h5 class="card-title"> {{nombreFruit}} Fruit(s)</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header"><i class="fa fa-share fa-3x" aria-hidden="true"></i></div>
        <div class="card-body text-success">
          <h5 class="card-title"> {{nombreChargement}} Chargement(s)</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header"><i class="fa fa-cube fa-3x" aria-hidden="true"></i></div>
        <div class="card-body text-danger">
          <h5 class="card-title"> {{nombreDepot}} Dépôt(s) </h5>
        </div>
      </div>
    </div>
  </div>
</div>
